@import "./_variables.scss";

.main {
  background-color: $background-color;

  .header {
    height: 62vh;
    position: relative;

    img {
      opacity: 0.3;
    }

    .wrapper {
      position: absolute;
      bottom: 0;
      z-index: 1;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      margin-left: 2%;
      margin-bottom: 5%;

      .title {
        font-size: 3rem;
        color: white;
        text-transform: uppercase;
        letter-spacing: 1.7rem;
        margin-bottom: 10px;
      }

      .subtitle {
        color: $primary-color;
        font-size: 1.5rem;
        letter-spacing: 0.25rem;
      }
    }
  }

  .content {
    height: 500px;
    padding: 40px 60px;
    display: flex;
    align-items: center;

    .resources {
      width: 100%;
      display: grid;
      justify-items: center;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-row-gap: 60px;

      .card {
        position: relative;
        width: 250px;
        height: 300px;
        background: $background-light-color;
        border-radius: 20px;
        overflow: hidden;
      }

      .card:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $primary-color;
        clip-path: circle(100px at 92% 8%);
        transition: 0.5s ease-in-out;
      }

      .card.yellow:before {
        background: $primary-light-color;
      }

      .card.blue:before {
        background: $secondary-color;
      }

      .card.white:before {
        background: $white-color;
      }

      .card:hover:before {
        clip-path: circle(200px at 110% -20%);
      }

      .card:after {
        content: "Capital";
        position: absolute;
        top: 36%;
        left: -3%;
        font-size: 5em;
        font-weight: 800;
        font-style: italic;
        color: rgba(255, 255, 25, 0.1);
      }

      .card.yellow:after {
        content: "Salário";
        left: -2%;
        color: rgba(249, 250, 48, 0.1);
      }

      .card.blue:after {
        content: "Financie";
        left: -10%;
        color: rgba(34, 86, 156, 0.15);
      }

      .card.white:after {
        content: "Invista";
        left: 0;
        color: rgba(255, 255, 255, 0.1);
      }

      .card .cardContent {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100px;
        text-align: center;
        transition: 1s;
        z-index: 10;
      }

      .card:hover .cardContent {
        height: 160px;
      }

      .card .cardContent h2 {
        position: relative;
        font-weight: 600;
        letter-spacing: 1px;
        color: #fff;
        margin-bottom: 10px;
      }

      .card .cardContent .description {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px 20px;
        transition: 0.5s;
        opacity: 0;
        visibility: hidden;
        padding-top: 0;
        padding-bottom: 0;
      }

      .card:hover .cardContent .description {
        opacity: 1;
        visibility: visible;
        transition-delay: 0.5s;
      }

      .card .cardContent .description h3 {
        color: #fff;
        font-weight: 300;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 20px;
      }

      .card .cardContent a {
        display: inline-block;
        padding: 10px 20px;
        background: #fff;
        border-radius: 4px;
        margin-top: 10px;
        text-decoration: none;
        font-weight: 600;
        color: #111;
        opacity: 0;
        transform: translateY(50px);
        transition: 0.5s;
        margin-top: 0;
      }

      .card:hover .cardContent a {
        opacity: 1;
        transform: translateY(0px);
        transition-delay: 0.75s;
      }
    }
  }

  .customerService {
    height: 500px;
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $primary-color;
    color: $secondary-color;

    .hashtag {
      font-size: 1rem;
      text-transform: uppercase;
      margin-bottom: 48px;
    }

    .title {
      font-size: 3rem;
      letter-spacing: 0.1rem;
      font-weight: bold;
      margin-bottom: 32px;
    }

    .description {
      font-size: 1.5rem;
      margin-bottom: 48px;
    }
  }

  @media only screen and (max-device-width: 640px) {
    .header {
      height: 50vh;

      .wrapper {
        margin-left: 7%;
        margin-bottom: 10%;

        .title {
          font-size: 1.5rem;
          color: white;
          text-transform: uppercase;
          letter-spacing: 0.5rem;
          margin-bottom: 10px;
        }

        .subtitle {
          color: $primary-color;
          font-size: 0.8rem;
          letter-spacing: 0.25rem;
        }
      }
    }

    .content {
      height: 100%;
      padding: 50px 30px;

      .resources {
        .card {
          width: 250px;
          height: 150px;
        }

        .card:before {
          clip-path: circle(50px at 100% 0%);
        }

        .card:hover:before {
          clip-path: circle(100px at 110% -20%);
        }

        .card:after {
          top: 15%;
        }

        .card:hover .cardContent {
          height: 120px;
        }

        .card .cardContent h2 {
          font-size: 1.2rem;
          margin-bottom: 5px;
        }

        .card .cardContent .description h3 {
          font-size: 0.8rem;
          margin-bottom: 10px;
        }

        .card .cardContent a {
          padding: 7px 15px;
          font-size: 0.8rem;
        }
      }
    }

    .customerService {
      height: 100%;
      padding: 50px 30px;
      align-items: center;
      text-align: center;

      .hashtag {
        font-size: 1rem;
        text-transform: uppercase;
        margin-bottom: 24px;
      }

      .title {
        font-size: 2rem;
        letter-spacing: 0.1rem;
        font-weight: bold;
        margin-bottom: 24px;
      }

      .description {
        font-size: 1.3rem;
        margin-bottom: 32px;
      }
    }
  }
}
